* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  /* background-color: #010a19; */
  /* color: #fffec9; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #f28785;
  text-decoration: none;
}

nav,
footer {
  padding: 1% 0;
  /* background-color: #034078; */
  background-color: #010a19;
  color: #fefcfb;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-btns {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 3%;
}

li.nav-home {
  margin-right: auto;
}

.nav-btn {
  margin: 0 10px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  font-family: 'Source Sans Pro', sans-serif;
  /* background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ), url('../images/dtla-night.jpg'); */
  /* background-image: url("../images/dtla-night.jpg"); */
  /* background-color: #034078; */
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  background-size: cover;
  padding: 10% 10% 1% 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #f28785;
}

.hero-name {
  width: 50%
}

.hero-tag {
  color: #f28785;
  text-align: center;
}

section {
  min-height: 200px;
  margin: 50px 0;
  padding: 6% 0;
}

.projects-list li {
  padding: 5% 0;
}