* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #f28785;
  text-decoration: none;
}

nav,
footer {
  padding: 1% 0;
  background-color: #010a19;
  color: #fefcfb;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-btns {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 3%;
}

li.nav-home {
  margin-right: auto;
}

.nav-btn {
  margin: 0 10px;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

header {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  background-size: cover;
  padding: 10% 10% 1% 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #f28785;
}

.hero {
  width: 75%;
  font-size: 8vw;
}

.hero-tag {
  color: #f28785;
  text-align: center;
}

section {
  max-width: 90%;
  margin: auto;
  padding: 0 0 6% 0;
}

section > h2 {
  font-size: 5vw;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.project-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project-thumb {
  border: 0.5vw solid grey;
  border-top-width: 4vw;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 100%;
}

.project-title {
  color: #010a19;
  padding-left: 3vw;
  margin-bottom: 0;
}

.project-tech {
  padding-left: 4vw;
  margin-bottom: 0;
}

.project-description {
  margin: 2vw 1vw;
}

.project-links {
  padding-left: 4vw;
}

.contact-list {
  max-width: 60%;
  margin: 0 auto 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-resume {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  align-items: center;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

#resume-thumbnail {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#resume-thumbnail:hover {
  box-shadow: 0 4px 8px 0 rgba(242,135,133,1), 0 6px 20px 0 rgba(242,135,133,1);
}

.arrow-top-of-page {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
}

footer {
  padding: 0;
  text-align: center;
  font-size: 2vw;
}
